---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/d3/profile/PlayerOne-1309/?apikey=api_key_from_secrets_rb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-40.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "battleTag" : "PlayerOne#1309",
          "paragonLevel" : 101,
          "paragonLevelHardcore" : 0,
          "paragonLevelSeason" : 0,
          "paragonLevelSeasonHardcore" : 0,
          "heroes" : [ {
            "paragonLevel" : 101,
            "seasonal" : false,
            "name" : "PlayerOne",
            "id" : 1304986,
            "level" : 70,
            "hardcore" : false,
            "gender" : 0,
            "dead" : false,
            "class" : "wizard",
            "last-updated" : 1397322512
          }, {
            "paragonLevel" : 101,
            "seasonal" : false,
            "name" : "Neggromancer",
            "id" : 44149625,
            "level" : 70,
            "hardcore" : false,
            "gender" : 0,
            "dead" : false,
            "class" : "crusader",
            "last-updated" : 1409332075
          }, {
            "paragonLevel" : 101,
            "seasonal" : false,
            "name" : "AuctionHouse",
            "id" : 17253136,
            "level" : 2,
            "hardcore" : false,
            "gender" : 0,
            "dead" : false,
            "class" : "witch-doctor",
            "last-updated" : 1339162517
          }, {
            "paragonLevel" : 101,
            "seasonal" : false,
            "name" : "CedardDain",
            "id" : 1366097,
            "level" : 2,
            "hardcore" : false,
            "gender" : 0,
            "dead" : false,
            "class" : "barbarian",
            "last-updated" : 1337092369
          }, {
            "paragonLevel" : 101,
            "seasonal" : false,
            "name" : "ChackyJan",
            "id" : 11756870,
            "level" : 1,
            "hardcore" : false,
            "gender" : 0,
            "dead" : false,
            "class" : "monk",
            "last-updated" : 1337857100
          } ],
          "lastHeroPlayed" : 44149625,
          "lastUpdated" : 1409332075,
          "kills" : {
            "monsters" : 55502,
            "elites" : 5264,
            "hardcoreMonsters" : 0
          },
          "highestDifficulty" : 0,
          "highestHardcoreLevel" : 0,
          "timePlayed" : {
            "barbarian" : 0.0010,
            "crusader" : 0.109,
            "demon-hunter" : 0.0,
            "monk" : 0.0,
            "witch-doctor" : 0.0010,
            "wizard" : 1.0
          },
          "progression" : {
            "act1" : true,
            "act2" : true,
            "act3" : true,
            "act4" : true,
            "act5" : true
          },
          "fallenHeroes" : [ ],
          "blacksmith" : {
            "slug" : "blacksmith",
            "level" : 12,
            "stepCurrent" : 0,
            "stepMax" : 5
          },
          "jeweler" : {
            "slug" : "jeweler",
            "level" : 12,
            "stepCurrent" : 0,
            "stepMax" : 1
          },
          "mystic" : {
            "slug" : "mystic",
            "level" : 12,
            "stepCurrent" : 0,
            "stepMax" : 1
          },
          "blacksmithHardcore" : {
            "slug" : "blacksmith",
            "level" : 0,
            "stepCurrent" : -1,
            "stepMax" : 5
          },
          "jewelerHardcore" : {
            "slug" : "jeweler",
            "level" : 0,
            "stepCurrent" : 0,
            "stepMax" : 1
          },
          "mysticHardcore" : {
            "slug" : "mystic",
            "level" : 0,
            "stepCurrent" : 0,
            "stepMax" : 1
          },
          "blacksmithSeason" : {
            "slug" : "blacksmith",
            "level" : 0,
            "stepCurrent" : -1,
            "stepMax" : 5
          },
          "jewelerSeason" : {
            "slug" : "jeweler",
            "level" : 0,
            "stepCurrent" : 0,
            "stepMax" : 1
          },
          "mysticSeason" : {
            "slug" : "mystic",
            "level" : 0,
            "stepCurrent" : 0,
            "stepMax" : 1
          },
          "blacksmithSeasonHardcore" : {
            "slug" : "blacksmith",
            "level" : 0,
            "stepCurrent" : -1,
            "stepMax" : 5
          },
          "jewelerSeasonHardcore" : {
            "slug" : "jeweler",
            "level" : 0,
            "stepCurrent" : 0,
            "stepMax" : 1
          },
          "mysticSeasonHardcore" : {
            "slug" : "mystic",
            "level" : 0,
            "stepCurrent" : 0,
            "stepMax" : 1
          },
          "seasonalProfiles" : {
            "0" : {
              "seasonId" : 0,
              "paragonLevel" : 101,
              "paragonLevelHardcore" : 101,
              "kills" : {
                "monsters" : 55502,
                "elites" : 5264,
                "hardcoreMonsters" : 0
              },
              "timePlayed" : {
                "barbarian" : 0.0010,
                "crusader" : 0.109,
                "demon-hunter" : 0.0,
                "monk" : 0.0,
                "witch-doctor" : 0.0010,
                "wizard" : 1.0
              },
              "highestDifficulty" : 0,
              "highestHardcoreLevel" : 0,
              "progression" : {
                "act1" : true,
                "act2" : true,
                "act3" : true,
                "act4" : true,
                "act5" : true
              }
            }
          }
        }
  recorded_at: Tue, 02 Sep 2014 02:45:39 GMT
[...]
