---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/sc2/profile/2144359/1/JaBiTo/?apikey=api_key_from_secrets_rb&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-48.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 2144359,
          "realm" : 1,
          "displayName" : "JaBiTo",
          "clanName" : "",
          "clanTag" : "",
          "profilePath" : "/profile/2144359/1/JaBiTo/",
          "career" : {
            "primaryRace" : "TERRAN",
            "league" : "DIAMOND",
            "terranWins" : 34,
            "protossWins" : 7,
            "zergWins" : 4,
            "highest1v1Rank" : "GRANDMASTER",
            "highestTeamRank" : "MASTER",
            "seasonTotalGames" : 64,
            "careerTotalGames" : 3365
          },
          "swarmLevels" : {
            "level" : 104,
            "terran" : {
              "level" : 35,
              "totalLevelXP" : 5850000,
              "currentLevelXP" : -1
            },
            "zerg" : {
              "level" : 35,
              "totalLevelXP" : 5850000,
              "currentLevelXP" : -1
            },
            "protoss" : {
              "level" : 34,
              "totalLevelXP" : 225000,
              "currentLevelXP" : 145280
            }
          },
          "campaign" : {
            "wol" : "BRUTAL"
          },
          "season" : {
            "seasonId" : 19,
            "seasonNumber" : 3,
            "seasonYear" : 2014,
            "totalGamesThisSeason" : 64,
            "stats" : [ {
              "type" : "1v1",
              "wins" : 21,
              "games" : 28
            }, {
              "type" : "2v2",
              "wins" : 12,
              "games" : 20
            }, {
              "type" : "4v4",
              "wins" : 12,
              "games" : 16
            } ]
          },
          "rewards" : {
            "selected" : [ 332775232, 2009110693, 2359737029, 3837142423, 3851674204 ],
            "earned" : [ 78113276, 97993138, 144654643, 158756500, 199895074, 260581568, 269390454, 332775232, 366595549, 367294557, 382993515, 414497095, 465109044, 484804054, 485296835, 493147594, 531423509, 533048170, 537489092, 540410724, 545527791, 566530218, 616156284, 637508413, 693439517, 723758618, 822755320, 836744187, 868991824, 928246938, 939528911, 960411262, 964469219, 983487403, 1091886782, 1121169820, 1127061123, 1127476957, 1177038943, 1179925015, 1197027376, 1256759101, 1271513287, 1274985866, 12904[...]
