---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/sc2/profile/2210662/1/NaNiwa/?apikey=api_key_from_secrets_rb&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-45.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 2210662,
          "realm" : 1,
          "displayName" : "NaNiwa",
          "clanName" : "",
          "clanTag" : "",
          "profilePath" : "/profile/2210662/1/NaNiwa/",
          "portrait" : {
            "x" : 0,
            "y" : 0,
            "w" : 90,
            "h" : 90,
            "offset" : 0,
            "url" : "http://media.blizzard.com/sc2/portraits/0-90.jpg"
          },
          "career" : {
            "primaryRace" : "PROTOSS",
            "league" : "GRANDMASTER",
            "terranWins" : 0,
            "protossWins" : 334,
            "zergWins" : 0,
            "highest1v1Rank" : "MASTER",
            "highestTeamRank" : "MASTER",
            "seasonTotalGames" : 504,
            "careerTotalGames" : 6084
          },
          "swarmLevels" : {
            "level" : 73,
            "terran" : {
              "level" : 8,
              "totalLevelXP" : 145000,
              "currentLevelXP" : 36160
            },
            "zerg" : {
              "level" : 30,
              "totalLevelXP" : 215000,
              "currentLevelXP" : 0
            },
            "protoss" : {
              "level" : 35,
              "totalLevelXP" : 5850000,
              "currentLevelXP" : -1
            }
          },
          "campaign" : {
            "wol" : "BRUTAL"
          },
          "season" : {
            "seasonId" : 19,
            "seasonNumber" : 3,
            "seasonYear" : 2014,
            "totalGamesThisSeason" : 504,
            "stats" : [ {
              "type" : "1v1",
              "wins" : 334,
              "games" : 497
            } ]
          },
          "rewards" : {
            "selected" : [ 18730036, 1103653240, 2560554373, 2951153716 ],
            "earned" : [ 88694196, 97993138, 144654643, 158756500, 194091906, 199895074, 234481452, 260581568, 269390454, 367294557, 382993515, 414497095, 531423509, 531436819, 533048170, 537489092, 540410724, 566530218, 616156284, 637508413, 693439517, 810340504, 822755320, 836744187, 868991824, 960411262, 964469219, 969102952, 983487403, 1079649078, 1091886782, 1127061123, 1177038943, 1179925015, 1256759101, 1264176401, 1271513287, 1274985866, 1288618696, 1290441301, 1296621116, 1296775413, 1307174747, 1391382166, [...]
- request:
    method: get
    uri: https://eu.api.battle.net/sc2/profile/2210662/1/NaNiwa/ladder?apikey=api_key_from_secrets_rb&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-44.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : "nok",
          "code" : 404,
          "message" : "Resource Not Found"
        }
  recorded_at: Wed, 10 Sep 2014 15:04:27 GMT
recorded_with: VCR 2.9.2
