---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/sc2/profile/2144359/1/JaBiTo/ladders?apikey=api_key_from_secrets_rb&locale=ko_KR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-50.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "currentSeason" : [ {
            "ladder" : [ {
              "ladderName" : "Arbiter Epsilon",
              "ladderId" : 175161,
              "division" : 72,
              "rank" : 47,
              "league" : "DIAMOND",
              "matchMakingQueue" : "HOTS_SOLO",
              "wins" : 21,
              "losses" : 7,
              "showcase" : true
            }, {
              "ladderName" : "Defiler Quest",
              "ladderId" : 174773,
              "division" : 50,
              "rank" : 84,
              "league" : "GOLD",
              "matchMakingQueue" : "HOTS_FOURS",
              "wins" : 2,
              "losses" : 1,
              "showcase" : true
            } ],
            "characters" : [ {
              "id" : 2144359,
              "realm" : 1,
              "displayName" : "JaBiTo",
              "clanName" : "",
              "clanTag" : "",
              "profilePath" : "/profile/2144359/1/JaBiTo/"
            } ],
            "nonRanked" : [ ]
          }, {
            "ladder" : [ {
              "ladderName" : "Xerana Foxtrot",
              "ladderId" : 174596,
              "division" : 13,
              "rank" : 38,
              "league" : "PLATINUM",
              "matchMakingQueue" : "HOTS_TWOS",
              "wins" : 12,
              "losses" : 8,
              "showcase" : true
            } ],
            "characters" : [ {
              "id" : 2144359,
              "realm" : 1,
              "displayName" : "JaBiT[...]
- request:
    method: get
    uri: https://us.api.battle.net/sc2/profile/2144359/1/JaBiTo/ladders?apikey=api_key_from_secrets_rb&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-46.mashery.com
    body:
      encoding: UTF-8
      string: |-
[...]
