---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/sc2/profile/2210662/1/NaNiwa/matches?apikey=api_key_from_secrets_rb&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-49.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "matches" : [ {
            "map" : "Deadwing LE",
            "type" : "SOLO",
            "decision" : "WIN",
            "speed" : "FASTER",
            "date" : 1410222237
          }, {
            "map" : "Deadwing LE",
            "type" : "SOLO",
            "decision" : "WIN",
            "speed" : "FASTER",
            "date" : 1410221657
          }, {
            "map" : "King Sejong Station LE",
            "type" : "SOLO",
            "decision" : "WIN",
            "speed" : "FASTER",
            "date" : 1410220846
          }, {
            "map" : "Nimbus LE",
            "type" : "SOLO",
            "decision" : "LOSS",
            "spee[...]
