---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/character/Dragonmaw/Alexeistukov?apikey=api_key_from_secrets_rb&fields=reputation&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Mon, 06 Jan 2014 22:41:29 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-39.mashery.com
    body:
      encoding: UTF-8
      string: '{"lastModified":1389048089000,"name":"Alexeistukov","realm":"Dragonmaw","battlegroup":"Reckoning","class":2,"race":10,"gender":0,"level":85,"achievementPoints":1980,"thumbnail":"dragonmaw/68/70154564-avatar.jpg","calcClass":"b","reputation":[{"id":1375,"name":"Dominance
        Offensive","standing":3,"value":0,"max":3000},{"id":1098,"name":"Knights of
        the Ebon Blade","standing":5,"value":888,"max":12000},{"id":1090,"name":"Kirin
        Tor","standing":4,"value":5961,"max":6000},{"id":1091,"name":"The Wyrmrest
        Accord","standing":5,"value":5027,"max":12000},{"id":1358,"name":"Nat Pagle","standing":3,"value":0,"max":3000},{"id":1359,"name":"The
        Black Prince","standing":3,"value":2800,"max":3000},{"id":1119,"name":"The
        Sons of Hodir","standing":0,"value":0,"max":36000},{"id":21,[...]
