---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/character/Dragonmaw/Alexeistukov?apikey=api_key_from_secrets_rb&fields=quests&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Mon, 06 Jan 2014 22:41:29 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-39.mashery.com
    body:
      encoding: UTF-8
      string: '{"lastModified":1389048089000,"name":"Alexeistukov","realm":"Dragonmaw","battlegroup":"Reckoning","class":2,"race":10,"gender":0,"level":85,"achievementPoints":1980,"thumbnail":"dragonmaw/68/70154564-avatar.jpg","calcClass":"b","quests":[13136,13138,2,13139,13140,13141,13120,13122,13125,26293,26294,25,13130,13135,13134,26247,26246,26245,26244,26251,26250,26249,26248,26255,26254,26258,26259,26256,13157,26260,26261,13076,13077,13078,13079,26337,13072,13073,13074,13075,13084,13085,13086,13080,8744,13081,13082,13083,26358,13059,13068,13070,26361,13110,26311,13106,13104,13105,13118,13119,13117,26315,26314,26313,26312,26326,26324,13092,26335,26328,13275,13277,26157,13279,26158,26159,13264,13271,26169,26168,26171,13258,13259,26170,132[...]
