---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/character/Dragonmaw/Alexeistukov?apikey=api_key_from_secrets_rb&fields=mounts&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Mon, 06 Jan 2014 22:41:29 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-45.mashery.com
    body:
      encoding: UTF-8
      string: '{"lastModified":1389048089000,"name":"Alexeistukov","realm":"Dragonmaw","battlegroup":"Reckoning","class":2,"race":10,"gender":0,"level":85,"achievementPoints":1980,"thumbnail":"dragonmaw/68/70154564-avatar.jpg","calcClass":"b","mounts":{"numCollected":9,"numNotCollected":276,"collected":[{"name":"Black
        War Wolf","spellId":22724,"creatureId":14329,"itemId":29469,"qualityId":4,"icon":"ability_mount_blackdirewolf","isGround":true,"isFlying":false,"isAquatic":true,"isJumping":true},{"name":"Celestial
        Steed","spellId":75614,"creatureId":40625,"itemId":54811,"qualityId":4,"icon":"ability_mount_celestialhorse","isGround":true,"isFlying":true,"isAquatic":true,"isJumping":true},{"name":"Goblin
        Turbo-Trike","spellId":87091,"creatureId":46755,"itemId":62462,"qualityId":4,"icon":"inv_misc_key_04","isGround":true,"isFlying":false,"isAquatic":true,"isJumping":true},{"name":"Red
        Skeletal Warhorse","spellId":22722,"creatureId":14331,"itemId":29470,"qualit[...]
