---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/character/Dragonmaw/Alexeistukov?apikey=api_key_from_secrets_rb&fields=feed&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Mon, 06 Jan 2014 22:41:29 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-40.mashery.com
    body:
      encoding: UTF-8
      string: '{"lastModified":1389048089000,"name":"Alexeistukov","realm":"Dragonmaw","battlegroup":"Reckoning","class":2,"race":10,"gender":0,"level":85,"achievementPoints":1980,"thumbnail":"dragonmaw/68/70154564-avatar.jpg","calcClass":"b","feed":[{"type":"ACHIEVEMENT","timestamp":1389110160000,"achievement":{"id":780,"title":"Explore
        Redridge Mountains","points":10,"description":"Explore Redridge Mountains,
        revealing the covered areas of the world map.","rewardItems":[],"icon":"achievement_zone_redridgemountains","criteria":[{"id":1185,"description":"Lakeshire","orderIndex":1,"max":1},{"id":1188,"description":"Lake
        Everstill","orderIndex":2,"max":1},{"id":1186,"description":"Three Corners","orderIndex":3,"max":1},{"id":1187,"description":"Lakeridge
        Highway","orderIndex":4,"max":1},{"id":1189,"description":"Redridge Canyons","orderIndex":5,"max":1},{"id":1191,"description":"Alther''s
        Mill","orderIndex":6,"max":1},{"id":1192,"description":"Stonewatch Falls","orderIndex":7,"max":1},{"id":1193,"description":"Render''s
        Valley","orderIndex":8,"max":1},{"id":1190,"description":"Render''s Camp","orderIndex":9,"max":1},{"id":1194,"description":"Stonewatch
        Keep","orderIndex":10,"max":1},{"id":1195,"description":"Galardell Valley","orderIndex":11,"max":1},{"id":14161,"description":"Shalewind
        Canyon","orderIndex":12,"max":1},{"id":14162,"description":"Camp Everstill","orderIndex":13,"max":1}],"accountWide":false,"factionId":2},"featOfStrength":false},{"type":"ACHIEVEMENT","timestamp":1388684767000,"achievement":{"id":15,"title":"Plenty
        of Pets","points":10,"description":"Collect 15 unique pets.","rewardItems":[],"icon":"inv_box_petcarrier_01","criteria":[{"id":19598,"description":"Obtain
        15 unique companion pets","orderIndex":0,"max":15}],"accountWide":true,"factionId":2},"featOfStrength":false},{"type":"BOSSKILL","timestamp":1388474682000,"achievement":{"id":1088,"title":"Kael''thas
        Sunstrider kills (Tempest Keep)","points":5,"description":"Kael''thas Sunstrider
        kills (Tempest Keep)","rewardItems":[],"icon":"inv_staff_73","criteria":[{"id":3259,"description":"Kael''thas
        Sunstrider","orderIndex":1,"max":1}],"accountWide":false,"factionId":2},"featOfStrength":false,"criteria":{"id":3259,"description":"Kael''thas
        Sunstrider","orderIndex":1,"max":1},"quantity":1,"name":"Kael''thas Sunstrider"},{"type":"ACHIEVEMENT","timestamp":1388474640000,"achievement":{"id":696,"title":"Tempest
        Keep","points":10,"description":"Defeat Kael''thas Sunstrider in Tempest Keep.","rewardItems":[],"icon":"achievement_character_bloodelf_male","criteria":[],"accountWide":false,"factionId":2},"featOfStrength":false},{"type":"ACHIEVEMENT","timestamp":1387969920000,"achievement":{"id":7412,"title":"Collector''s
        Edition: Fetish Shaman","points":0,"description":"Owner of the Diablo III
        Collector''s Edition Fetish Shaman pet.","rewardItems":[],"icon":"inv_spear_05","criteria":[],"accountWide":true,"factionId":2},"featOfStrength":true},{"type":"ACHIEVEMENT","timestamp":1387969920000,"achievement":{"id":7842,"title":"Collector''s
        Edition: Baneling","points":0,"description":"Owner of the StarCraft II: Heart
        of the Swarm Collector''s Edition Baneling pet.","rewardItems":[],"icon":"ability_pet_baneling","criteria":[],"accountWide":true,"factionId":2},"featOfStrength":true},{"type":"BOSSKILL","timestamp":1387969682000,"achievement":{"id":1091,"title":"Captain
        Cookie kills (Deadmines)","points":5,"description":"","rewardItems":[],"icon":"inv_misc_bandana_03","criteria":[{"id":3262,"description":"Edwin
        VanCleef","orderIndex":2,"max":1}],"accountWide":false,"factionId":2},"featOfStrength":false,"criteria":{"id":18522,"description":"\"Captain\"
        Cookie","orderIndex":1,"max":1},"quantity":1,"name":"\"Captain\" Cookie"},{"type":"CRITERIA","timestamp":1387969682000,"achievement":{"id":8397,"title":"Crazy
        for Cats","points":10,"description":"Obtain 20 of the cats listed below.","reward":"Title
        Reward: The Crazy Cat Lady/Man","rewardItems":[],"icon":"inv_pet_cats_siamesecat","criteria":[{"id":23577,"description":"Black
        Tabby Cat","orderIndex":0,"max":1},{"id":23578,"description":"Bombay Cat","orderIndex":1,"max":1},{"id":23579,"description":"Calico
        Cat","orderIndex":2,"max":1},{"id":23580,"description":"Cat","orderIndex":3,"max":1},{"id":23581,"description":"Cheetah
        Cub","orderIndex":4,"max":1},{"id":23596,"description":"Cinder Kitten","orderIndex":5,"max":1},{"id":235[...]
