---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/character/Dragonmaw/Alexeistukov?apikey=api_key_from_secrets_rb&fields=progression&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Mon, 06 Jan 2014 22:41:29 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-40.mashery.com
    body:
      encoding: UTF-8
      string: '{"lastModified":1389048089000,"name":"Alexeistukov","realm":"Dragonmaw","battlegroup":"Reckoning","class":2,"race":10,"gender":0,"level":85,"achievementPoints":1980,"thumbnail":"dragonmaw/68/70154564-avatar.jpg","calcClass":"b","progression":{"raids":[{"name":"Molten
        Core","normal":0,"heroic":0,"id":2717,"bosses":[{"id":11502,"name":"Ragnaros","normalKills":0,"normalTimestamp":0}]},{"name":"Blackwing
        Lair","normal":0,"heroic":0,"id":2677,"bosses":[{"id":11583,"name":"Nefarian","normalKills":0,"normalTimestamp":0}]},{"name":"Ruins
        of Ahn''Qiraj","normal":0,"heroic":0,"id":3429,"bosses":[{"id":15339,"name":"Ossirian
        the Unscarred","normalKills":0,"normalTimestamp":0}]},{"name":"Ahn''Qiraj
        Temple","normal":0,"heroic":0,"id":3428,"bosses":[{"id":15727,"name":"C''Thun","normalKills":0,"normalTimestamp":0}]},{"name":"Karazhan","normal":0,"her[...]
