---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/character/Dragonmaw/Alexeistukov?apikey=api_key_from_secrets_rb&fields=petSlots&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Mon, 06 Jan 2014 22:41:29 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-45.mashery.com
    body:
      encoding: UTF-8
      string: '{"lastModified":1389048089000,"name":"Alexeistukov","realm":"Dragonmaw","battlegroup":"Reckoning","class":2,"race":10,"gender":0,"level":85,"achievementPoints":1980,"thumbnail":"dragonmaw/68/70154564-avatar.jpg","calcClass":"b","petSlots":[{"slot":1,"isEmpty":true,"isLocked":true,"abilities":[]},{"slot":2,"isEmpty":true,"isLocked":true,"abilities":[]},{"slot":3,"isEmpty":true,"isLocked":true,"abilities":[]}],"totalHonorableKills":563}'
  recorded_at: Sat, 13 Sep 2014 14:29:22 GMT
recorded_with: VCR 2.9.2
