---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/character/Dragonmaw/Alexeistukov?apikey=api_key_from_secrets_rb&fields=pvp&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Mon, 06 Jan 2014 22:41:29 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-44.mashery.com
    body:
      encoding: UTF-8
      string: '{"lastModified":1389048089000,"name":"Alexeistukov","realm":"Dragonmaw","battlegroup":"Reckoning","class":2,"race":10,"gender":0,"level":85,"achievementPoints":1980,"thumbnail":"dragonmaw/68/70154564-avatar.jpg","calcClass":"b","pvp":{"brackets":{"ARENA_BRACKET_2v2":{"slug":"2v2","rating":0,"weeklyPlayed":0,"weeklyWon":0,"weeklyLost":0,"seasonPlayed":0,"seasonWon":0,"seasonLost":0},"ARENA_BRACKET_3v3":{"slug":"3v3","rating":0,"weeklyPlayed":0,"weeklyWon":0,"weeklyLost":0,"seasonPlayed":0,"seasonWon":0,"seasonLost":0},"ARENA_BRACKET_5v5":{"slug":"5v5","rating":0,"weeklyPlayed":0,"weeklyWon":0,"weeklyLost":0,"seasonPlayed":0,"seasonWon":0,"seasonLost":0},"ARENA_BRACKET_RBG":{"slug":"rbg","rating":0,"weeklyPlayed":0,"weeklyWon":0,"weeklyLost":0,"seasonPlayed":0,"seasonWon":0,"seasonLost":0}}},"totalHonorableKills":563}'
  recorded_at: Sat, 13 Sep 2014 14:41:10 GMT
recorded_with: VCR 2.9.2
