---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/character/Dragonmaw/Alexeistukov?apikey=api_key_from_secrets_rb&fields=achievements&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Mon, 06 Jan 2014 22:41:29 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-42.mashery.com
    body:
      encoding: UTF-8
      string: '{"lastModified":1389048089000,"name":"Alexeistukov","realm":"Dragonmaw","battlegroup":"Reckoning","class":2,"race":10,"gender":0,"level":85,"achievementPoints":1980,"thumbnail":"dragonmaw/68/70154564-avatar.jpg","calcClass":"b","achievements":{"achievementsCompleted":[6,7,8,9,10,11,12,13,15,31,116,238,245,247,477,478,479,480,481,482,483,484,485,486,487,488,490,491,493,494,496,500,503,504,505,506,507,508,513,515,522,523,524,546,547,557,558,605,606,621,628,630,631,644,647,648,649,650,651,652,653,657,693,696,700,727,731,732,733,734,735,761,780,845,846,852,854,856,857,862,863,866,889,890,891,892,964,973,974,975,1005,1011,1017,1157,1176,1177,1182,1264,1265,1266,1267,1288,1311,1457,1689,1703,1817,1860,1866,2036,2037,2150,2151,2188,2256,2716,4476,4477,4478,4624,4826,4833,4839,4840,4841,4844,4846,4847,4848,4863,4864,4870,4871,4874,4881,4882,4883,4884,4886,4908,4909,4914,4924,4934,4938,4939,4956,4957,4959,4960,4961,4978,4979,4981,4996,5060,5061,5062,5063,5064,5065,5066,5083,5093,5180,5286,5287,5289,5295,5296,5298,5317,5321,5366,5367,5368,5370,5371,5373,5376,5378,5412,5416,5445,5451,5452,5486,5487,5488,5501,5504,5505,5512,5535,5719,5743,5768,5769,6060,6185,7412,7842],"achievementsCompletedTimestamp":[1290949740000,1291019700000,1291442880000,1291553220000,1292330460000,1293194940000,1293895440000,1295710740000,1388684767000,1298726520000,1300504740000,1291308180000,1298387520000,1300541220000,1293982080000,1294055520000,1295269260000,1294811160000,1295081940000,1296050160000,1295075160000,1295150040000,1295098200000,1295171040000,1295156820000,1295696160000,1296489780000,1295880900000,1296051120000,1296403500000,1296136080000,1299345480000,1290953100000,1291023780000,1291550820000,129308616[...]
