---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/character/Dragonmaw/Alexeistukov?apikey=api_key_from_secrets_rb&fields=pets&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Mon, 06 Jan 2014 22:41:29 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-49.mashery.com
    body:
      encoding: UTF-8
      string: '{"lastModified":1389048089000,"name":"Alexeistukov","realm":"Dragonmaw","battlegroup":"Reckoning","class":2,"race":10,"gender":0,"level":85,"achievementPoints":1980,"thumbnail":"dragonmaw/68/70154564-avatar.jpg","calcClass":"b","pets":{"numCollected":15,"numNotCollected":572,"collected":[{"name":"Baneling","spellId":131650,"creatureId":66984,"itemId":90177,"qualityId":3,"icon":"ability_pet_baneling","stats":{"speciesId":903,"breedId":10,"petQualityId":3,"level":1,"health":151,"power":13,"speed":10},"battlePetGuid":"00000000018FA51D","isFavorite":false,"isFirstAbilitySlotSelected":false,"isSecondAbilitySlotSelected":false,"isThirdAbilitySlotSelected":false,"creatureName":"Baneling","canBattle":true},{"name":"Deathy","spellId":94070,"creatureId":51122,"itemId":67418,"qualityId":3,"icon":"inv_dragonwhelpcataclysm","stats":{"speciesId":294,"breedId":8,"petQualityId":3,"level":1,"health":152,"power":12,"speed":12},"battlePetGuid":"00000000018FA4F1","isFavorite":false,"isFirstAbilitySlotSelected":false,"isSecondAbilitySlotSelected":false,"isThirdAbilitySlotSelected":false,"creatureName":"Deathy","canBattle":true},{"name":"Fetish
        Shaman","spellId":105633,"creatureId":56266,"itemId":[...]
